<form novalidate name="userInput">
    
        <div id="reserva" class="body-responsive body-view">
		<div class="center-inpur-output-container">
			<div class="container">
                
        <div class="login-signup-container">
            <div class="login-signup-form">
                <form>
                    
                    
                    
                    <div class="row">
                        <div class="col-md-6">
                            <span>
                                <input type="radio" id="ida" name="flight-type" ng-click="updateLogType('false')">
                                <b>Cliente</b>
                            </span>

                        </div>
                        <div class="col-md-6">
                            <span>
                                <input type="radio" id="idaVuelta" name="flight-type" ng-click="updateLogType('true')">
                                <b>Aerolínea</b>
                            </span>
                        </div>
				    </div>
                    
                    
                    <br>
                    <br>
                    
                    
                    <input type="text" ng-model="login_email" placeholder="email"/>
                    <input type="password" ng-model="login_password" placeholder="password"/>    
                    <button ng-click="doLogin()">login</button>
      
                    <p class="message">Not registered? <a href="#!/signup">Create an account</a></p>
        
                </form>
            </div>
        </div>
            </div>
            </div>
    </div>
</form>
