<form novalidate name="userInput">
    <input type="radio" id="ida" name="tipoBillete" ng-change="isSoloIda()" ng-model="inputIda">
    <label for="ida">Ida</label>
    <input type="radio" id="idaVuelta" name="tipoBillete" ng-change="isIdaVuelta()" ng-model="inputIdaVuelta">
    <label for="idaVuelta">Ida y vuelta</label> Desactivado

    <br>

    Desde: <input type="text" placeholder="Salida" ng-model="inputOrigen"><br>
    Hasta: <input type="text" placeholder="Destino" ng-model="inputDestino"><br>
    <br>
    Ida: <input type="date" ng-change="updateFechaIda()" ng-model="inputIda"> <br>
    Vuelta: <input type="date" ng-change="updateFechaVuelta()" ng-model="inputVuelta"><br>
    <br>
    Nº billetes: <input type="number" min="1" max="100" value="1" ng-change="updateBilletes()" ng-model="inputBilletes"><br>
    <br>
    <a ng-href="#!/listaVuelos/{{inputOrigen}}/{{inputDestino}}">BUSCAR</a>

</form>


<!-- vv Esto se eliminará en versiones posteriores vv -->
<br>
{{inputOrigen}}
{{inputDestino}}
<br>
{{inputSalida | date:'dd/MM/yyyy'}}
<br>
{{inputLlegada | date:'dd/MM/yyyy'}}
<br>
{{inputBilletes}}


