<form novalidate name="userInput">

    <div id="reserva" class="body-responsive body-view">
		<div class="center-inpur-output-container">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
                        <div class="row">
                        <div class="col-md-11">
                             
						<div class="semantic-txt">
							<h1>RESERVA DE BILLETES DE AVIÓN</h1>
							<p>Laboratorio de Ingeniería de Software. Trabajo final de la asignatura: AngularJS y NodeJS</p>
						</div>
                        </div>
                                            
                                    
                            <div class="col-md-1"></div>         
                        </div>
                    </div>
                             
					<div class="col-md-8">
						<div class="form">
							<form>
                                
                                
                                 <div class="row">
                                    <div class="col">
                                        <span>
                                            <input type="radio" id="ida" name="flight-type" ng-click="updateTipoBillete('false')">
                                            <b>Solo ida</b>
                                        </span>

                                        <span class="col-md-6">
                                            <input type="radio" id="idaVuelta" name="flight-type" ng-click="updateTipoBillete('true')">
                                            <b>Ida y vuelta</b>
                                        </span>
                                    </div>
								</div>
                                
                                
                                <br>
                                
								<div class="row">
									<div class="col-md-6">
										<div class="label-group">
											<span class="label">ORIGEN</span>
                                            <input class="input" type="text" placeholder="Ciudad" ng-model="inputOrigen" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="label-group">
											<span class="label">DESTINO</span>
                                            <input class="input" type="text" placeholder="Ciudad" ng-model="inputDestino" required>
										</div>
									</div>
								</div>
                                
								<div class="row">
									<div class="col-md-6">
										<div class="label-group">
											<span class="label">SALIDA</span>
                                            <input class="input" type="date" ng-change="updateFechaIda()" ng-model="inputIda" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="label-group">
											<span class="label">REGRESO</span>
                                            <input class="input" type="date" ng-change="updateFechaVuelta()" ng-model="inputVuelta" required>
										</div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
										<div class="label-group">
											<span class="label">PASAJEROS</span>
                                            <input class="input" type="number" min="1" max="100" value="1" ng-change="updateBilletes()" ng-model="inputBilletes" required>
										</div>
									</div>
									<div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
								</div>
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-btn">
                                            <button class="submit-btn" ng-click="doSearch()">VUELOS DISPONIBLES</button>
                                        </div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
</form>

