.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#reserva {
	background-image: url('https://images.squarespace-cdn.com/content/v1/594336f837c5819eb6378ac7/1572276068069-1CN49Z6YO9Y4FO8A15RX/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/view+out+the+window+of+a+plane+flying+over+glaciers+and+turquoise+lakes?format=1500w');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.reserva-txt {
	margin-top: 45px;
}

.reserva-txt h1 {
	font-size: 52px;
	color: #4fa3e3;
	font-weight: 400;
}

.reserva-txt p {
	font-size: 22px;
	color: #191a1e;
}

.form {
	position: relative;
	background: #fff;
	max-width: 642px;
	width: 100%;
	margin: auto;
    opacity: 0.95;
	padding: 45px 25px 25px;
	border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.input {
	background-color: #fff;
	height: 65px;
    width: 100%;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.input::-webkit-input-placeholder {
	color: #dfe5e9;
}

.input:-ms-input-placeholder {
	color: #dfe5e9;
}

input.input {
	color: #dfe5e9;
}

.label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #98c9ee;
    margin-bottom: 20px;
}

.label-group {
	position: relative;
	margin-bottom: 20px;
}

.submit-btn {
	color: #fff;
	background-color: #4fa3e3;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
}