<div ng-controller="vuelosCtrl">
    <div class="body-responsive body-view">
		<div class="center-inpur-output-container">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
                        
                        
                        
                        
                                                <div class="row">
                        <div class="col-md-11">
                                                    
						<div class="semantic-txt">
							<h1>RESERVA DE BILLETES DE AVIÓN</h1>
							<p>Laboratorio de Ingeniería de Software. Segundo trabajo de la asignatura: AngularJS</p>
						</div>
					</div>
                          
                            <div class="col-md-1"></div>   

      
                        </div>
                    </div>
                             
					<div class="col-md-8">
                        

						<div class="form">
							<form>
                                <div class="row">
                                    <div class="col">
                                        <a ng-href="#!/">Volver</a>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-3"> <div class="label">BILLETES</div><br><div style="margin-left: 20px">{{billetes}}</div></div>
        <div class="col-3"> <div class="label">ORIGEN</div><br><div>{{origen}}</div></div>
        <div class="col-3"> <div class="label">DESTINO</div><br><div>{{destino}}</div></div>
        <div class="col-1"></div>
    </div>
    

                           
    <br>
                                        
    <div class="table-scroll">
    <div>
        
    <table class="table-striped">

            <tr>

                    <th style="width: 9%" class="table-style">Vuelo</th>
                    <th style="width: 35%"  class="col table-style">Salida / Regreso</th>
                    <th style="width: 20%"  class="col table-style">Origen / Destino</th>
                    <th style="width: 10%"  class="col table-style" > Clase business </th>
                    <th style="width: 10%"  class="col table-style" > Clase óptima </th>
                    <th  style="width: 10%" class="col table-style" > Clase economy </th>


        </tr>
     
        <tr ng-repeat="item in data ">

            <td style="width: 9%"  class="cell-style" >{{item.vuelo}}<br>{{item.nombre_aerolinea}}</td>
            <td  style="width: 35%" class="cell-style" >{{item.hora_salida}} <br> {{item.hora_llegada}}</td>
            <td  style="width: 20%" class="cell-style" >{{item.origen}} <br> {{item.destino}}</td>
            <td  style="width: 10%" class="cell-style">{{item.billetes_business}} € <br> {{item.plazas_business}} plazas<button class="buy-btn"  ng-if="logged" ng-click="comprarBusiness(item)">Comprar</button></td>
            <td style="width: 10%"  class="cell-style">{{item.billetes_optima}} € <br> {{item.plazas_optima}} plazas<button class="buy-btn" ng-if="logged" ng-click="comprarOptima(item)">Comprar</button></td>
            <td  style="width: 10%" class="cell-style">{{item.billetes_economy}} € <br> {{item.plazas_economy}} plazas <button class="buy-btn" ng-if="logged" ng-click="comprarEconomy(item)">Comprar</button></td>

        </tr>
    </table>
            </div>
        </div>


                                   </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                                          
            </div>
        </div>                      
    </div>                            
</div>